#main-wrapper {
	margin: 0 auto;
	padding: 0;
	width: 1100px;
}

#menu-wrapper {
	width: 300px;
	min-height: 500px;
	float: left;
	background: #ff0000;
}

#map-canvas {
  width: 800px;
  height: 500px;
}